asgiref==3.7.2
beautifulsoup4==4.12.2
Django==3.2.23
django-bootstrap4==3.0.1
django-nested-admin==4.0.2
django-simpleui==2021.6.2
importlib-metadata==4.8.3
mysqlclient==2.1.1
python-monkey-business==1.0.0
pytz==2023.3
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
